<nav class="flex flex-col sm:flex-row mx-auto px-7 py-3 my-2 sm:justify-between justify-start sm:items-start items-center font-poppins max-w-7xl cursor-pointer text-gray-800 space-y-3 h-28">
    <h1 class="text-4xl font-bold hover:text-rose-500 transition-all"><a href="/">myBlogs</a></h1>
    <ul class="flex flex-row space-x-6">
        <li class="hover:scale-110 hover:text-rose-500  transition-all"><a href="/">Home</a></li>
        <li class="hover:scale-110 hover:text-rose-500  transition-all"><a href="/about">About</a></li>
        <li class="hover:scale-110 hover:text-rose-500  transition-all"><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>