<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

        <div class="flex flex-col items-stretch justify-start space-y-10">
            <div  class="flex flex-col self-center items-center space-y-2">
                <h2 class="text-3xl font-medium text-gray-700 tracking-wide">Create a new blog</h2>
                <h3 class="text-sm text-gray-700">Write your thoughts down below...</h3>
            </div>
    
            <form class="flex flex-col items-center justify-center space-y-3 mx-5" action="/blogs" method="post">
                <label for="title" class="text-gray-700">Blog Title</label>
                <input name="title"  class="h-8 w-full max-w-xl p-4" type="text" required>
    
                <label for="title" class="text-gray-700">Blog Snippet</label>
                <textarea name="snippet" class="h-24 w-full max-w-xl p-4" type="text" required></textarea>
    
                <label for="title" class="text-gray-700">Blog Body</label>
                <textarea name="body" class="h-52 w-full max-w-xl p-4" type="text" required></textarea>
    
                <button class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded transition-all">Submit</button>
            </form>
        </div>
</body>
</html>