<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="flex flex-col items-center justify-center">
        <h2 class="text-3xl font-medium text-gray-700 tracking-wide">My Feed</h2>
    </div>
</body>
</html>